In [19]:
# Amb això creem un nou CSV per fer la submissió 
import pandas as pd

dfp = pd.read_csv("./../data/test-parsed-with-predictions-rf.csv",sep=",") # D'aqui traiem les prediccions
#dfo = pd.read_csv("./data/train-parsed.csv",sep=",")
dfID = pd.read_csv("./../data/test-converted.csv",sep=",") # D'aqui traiem els ID

#dfo["ID"] = dfID["ID"]
dfp["ID"] = dfID["ID"]

In [20]:
# Calculem la suma per ID, per calcular la demanda total per producte
dfp_sum = dfp.groupby('ID', as_index=False)['weekly_demand'].sum()

In [21]:
dfp_sum.head(100)

     ID  weekly_demand
0    15           6128
1    16           6878
2    20          17700
3    29          18323
4    34          22439
..  ...            ...
95  503          16537
96  509           5995
97  512            350
98  514           1453
99  517           1376

[100 rows x 2 columns]

In [22]:
file_sortida = "./../data/test-results3.csv"

dfp_sum["ID"] = dfp_sum["ID"].astype(int)

dfp_sum["Production"] = dfp_sum["weekly_demand"]
dfp_sum["Production"] = dfp_sum["Production"].round().astype(int)
dfp_sum.drop(columns=["weekly_demand"], inplace=True)
dfp_sum.to_csv(file_sortida, index=False)
dfp_sum.head(100)

     ID  Production
0    15        6128
1    16        6878
2    20       17700
3    29       18323
4    34       22439
..  ...         ...
95  503       16537
96  509        5995
97  512         350
98  514        1453
99  517        1376

[100 rows x 2 columns]