Instruccions per processar l'archiu train.csv per entrenar l'algoritme

In [19]:
import pandas as pd
file="train"
df = pd.read_csv(f"./../data/{file}.csv",sep=";")
df.head()

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,2,112,112,4556
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,3,135,135,4556
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,4,99,99,4556
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,5,74,74,4556

In [20]:
# Seleccionem només les columnes que utilitzarem pel training
df = df[["ID","image_embedding","category","aggregated_family","length_type","family","color_rgb","archetype","moment","life_cycle_length","fabric","phase_in","num_week_iso", "num_stores","num_sizes","price","year","weekly_demand"]]
df.head(100)

,ID,image_embedding,category,aggregated_family,length_type,family,color_rgb,archetype,moment,life_cycle_length,fabric,phase_in,num_week_iso,num_stores,num_sizes,price,year,weekly_demand
0,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,02/01/2023,1,152,5,35.99,2023,69
1,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,02/01/2023,2,152,5,35.99,2023,112
2,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,02/01/2023,3,152,5,35.99,2023,135
3,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,02/01/2023,4,152,5,35.99,2023,99
4,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,02/01/2023,5,152,5,35.99,2023,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12,"0.06917219,-0.6266982,1.1022718,-0.61872166,0....",Tops,Sweaters and Cardigans,Standard,Sweater,"81,77,50",NaN,TIME OFF,8,TRICOT,14/10/2024,47,868,5,39.99,2024,2043
96,12,"0.06917219,-0.6266982,1.1022718,-0.61872166,0....",Tops,Sweaters and Cardigans,Standard,Sweater,"81,77,50",NaN,TIME OFF,8,TRICOT,14/10/2024,48,868,5,39.99,2024,896
97,12,"0.06917219,-0.6266982,1.1022718,-0.61872166,0....",Tops,Sweaters and Cardigans,Standard,Sweater,"81,77,50",NaN,TIME OFF,8,TRICOT,14/10/2024,49,868,5,39.99,2024,432
98,17,"0.19943686,-0.32311696,0.09913862,-0.3773592,-...",Bottoms,Trousers & leggings,Long,Trousers,"225,204,175",Casual Chic,CASUAL WORK,10,WOVEN,04/09/2023,36,800,11,29.99,2023,1246
99,17,"0.19943686,-0.32311696,0.09913862,-0.3773592,-...",Bottoms,Trousers & leggings,Long,Trousers,"225,204,175",Casual Chic,CASUAL WORK,10,WOVEN,04/09/2023,37,800,11,29.99,2023,1661

In [14]:
# Aqui convertim phase_in a una nova columna "week_iso" que conté el número de setmana ISO de l'any de cada fila

df["phase_in"] = pd.to_datetime(df["phase_in"], format="%d/%m/%Y")

# Semana ISO de la fecha de phase_in
df["week_iso"] = df["phase_in"].dt.isocalendar().week

# A cada fila el valor representa la setmana que es va posar a la venda més les setmanes que porta a la venda
df["week_iso"] = (df["week_iso"] + df["num_week_iso"] -1) % 52

df.head(100)

,ID,image_embedding,category,aggregated_family,length_type,family,color_rgb,archetype,moment,life_cycle_length,fabric,phase_in,num_week_iso,num_stores,num_sizes,price,year,weekly_demand,week_iso
0,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,2023-01-02,1,152,5,35.99,2023,69,1
1,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,2023-01-02,2,152,5,35.99,2023,112,2
2,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,2023-01-02,3,152,5,35.99,2023,135,3
3,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,2023-01-02,4,152,5,35.99,2023,99,4
4,1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,"255,215,0",NaN,TIME OFF,12,WOVEN,2023-01-02,5,152,5,35.99,2023,74,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12,"0.06917219,-0.6266982,1.1022718,-0.61872166,0....",Tops,Sweaters and Cardigans,Standard,Sweater,"81,77,50",NaN,TIME OFF,8,TRICOT,2024-10-14,47,868,5,39.99,2024,2043,36
96,12,"0.06917219,-0.6266982,1.1022718,-0.61872166,0....",Tops,Sweaters and Cardigans,Standard,Sweater,"81,77,50",NaN,TIME OFF,8,TRICOT,2024-10-14,48,868,5,39.99,2024,896,37
97,12,"0.06917219,-0.6266982,1.1022718,-0.61872166,0....",Tops,Sweaters and Cardigans,Standard,Sweater,"81,77,50",NaN,TIME OFF,8,TRICOT,2024-10-14,49,868,5,39.99,2024,432,38
98,17,"0.19943686,-0.32311696,0.09913862,-0.3773592,-...",Bottoms,Trousers & leggings,Long,Trousers,"225,204,175",Casual Chic,CASUAL WORK,10,WOVEN,2023-09-04,36,800,11,29.99,2023,1246,19
99,17,"0.19943686,-0.32311696,0.09913862,-0.3773592,-...",Bottoms,Trousers & leggings,Long,Trousers,"225,204,175",Casual Chic,CASUAL WORK,10,WOVEN,2023-09-04,37,800,11,29.99,2023,1661,20

In [ ]:
# Aquí convertim la columna color_rgb en tres columnes noves R, G, B
# Separar la columna colores en tres nuevas
df[["R", "G", "B"]] = df["color_rgb"].str.split(",", expand=True)

# Convertir a enteros (porque inicialmente son strings)
df[["R", "G", "B"]] = df[["R", "G", "B"]].astype(int)

In [ ]:
# Eliminem les columnes que ja no necessitem

df = df.drop(columns=["color_rgb","life_cycle_length","phase_in"])
df.head()

,image_embedding,category,aggregated_family,length_type,family,archetype,moment,fabric,num_week_iso,num_stores,num_sizes,price,year,weekly_demand,week_iso,R,G,B
0,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,1,152,5,35.99,2023,69,1,255,215,0
1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,2,152,5,35.99,2023,112,2,255,215,0
2,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,3,152,5,35.99,2023,135,3,255,215,0
3,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,4,152,5,35.99,2023,99,4,255,215,0
4,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,5,152,5,35.99,2023,74,5,255,215,0

In [17]:
# Apliquem One-Hot Encoding a les columnes categòriques

def oneHot(df, column_index):
    column_name = df.columns[column_index]
    one_hot_df = pd.get_dummies(df[column_name], prefix=column_name).astype(int)
    df = pd.concat([df, one_hot_df], axis=1)
    return df

column_index_list = [1,2,3,4,5,6,7]

# apply one-hot to each column
for i in column_index_list:
    df = oneHot(df, i)

df.head(20)

,image_embedding,category,aggregated_family,length_type,family,archetype,moment,fabric,num_week_iso,num_stores,...,moment_CASUAL WORK,moment_FORMAL EVENT,moment_FORMAL WORK,moment_TIME OFF,fabric_CIRCULAR,fabric_JEANS,fabric_LEATHER,fabric_SYNTHETIC LEATHER,fabric_TRICOT,fabric_WOVEN
0,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,1,152,...,0,0,0,1,0,0,0,0,0,1
1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,2,152,...,0,0,0,1,0,0,0,0,0,1
2,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,3,152,...,0,0,0,1,0,0,0,0,0,1
3,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,4,152,...,0,0,0,1,0,0,0,0,0,1
4,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,5,152,...,0,0,0,1,0,0,0,0,0,1
5,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,6,152,...,0,0,0,1,0,0,0,0,0,1
6,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,7,152,...,0,0,0,1,0,0,0,0,0,1
7,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,8,152,...,0,0,0,1,0,0,0,0,0,1
8,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,9,152,...,0,0,0,1,0,0,0,0,0,1
9,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,10,152,...,0,0,0,1,0,0,0,0,0,1
10,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,11,152,...,0,0,0,1,0,0,0,0,0,1
11,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...","Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Long,Dresses,NaN,TIME OFF,WOVEN,12,152,...,0,0,0,1,0,0,0,0,0,1
12,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,51,121,...,1,0,0,0,0,0,0,0,0,1
13,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,52,121,...,1,0,0,0,0,0,0,0,0,1
14,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,1,121,...,1,0,0,0,0,0,0,0,0,1
15,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,2,121,...,1,0,0,0,0,0,0,0,0,1
16,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,3,121,...,1,0,0,0,0,0,0,0,0,1
17,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,4,121,...,1,0,0,0,0,0,0,0,0,1
18,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,5,121,...,1,0,0,0,0,0,0,0,0,1
19,"0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Tops,Shirts,Crop,Shirt,Casual Chic,CASUAL WORK,WOVEN,6,121,...,1,0,0,0,0,0,0,0,0,1

In [ ]:
# Aquí veiem les columnes finals del DataFrame, hem de tenir això en compte per a el processament de les dades de test
# Si en test es creen menys columnes, hem de afegir les que falten amb valor 0
df.columns.tolist()

In [ ]:
# Eliminem les columnes originals categòriques
df = df.drop(columns=["aggregated_family","family","archetype","moment","fabric","length_type","category"])
df.head()

,image_embedding,num_week_iso,num_stores,num_sizes,price,year,weekly_demand,week_iso,R,G,...,moment_CASUAL WORK,moment_FORMAL EVENT,moment_FORMAL WORK,moment_TIME OFF,fabric_CIRCULAR,fabric_JEANS,fabric_LEATHER,fabric_SYNTHETIC LEATHER,fabric_TRICOT,fabric_WOVEN
0,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...",1,152,5,35.99,2023,69,1,255,215,...,0,0,0,1,0,0,0,0,0,1
1,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...",2,152,5,35.99,2023,112,2,255,215,...,0,0,0,1,0,0,0,0,0,1
2,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...",3,152,5,35.99,2023,135,3,255,215,...,0,0,0,1,0,0,0,0,0,1
3,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...",4,152,5,35.99,2023,99,4,255,215,...,0,0,0,1,0,0,0,0,0,1
4,"0.072266474,-0.12752205,0.6080948,-1.2579741,-...",5,152,5,35.99,2023,74,5,255,215,...,0,0,0,1,0,0,0,0,0,1

In [ ]:
# Processament de la columna image_embedding
# Es crea una columna per cada dimensió de l'embedding
df["image_embedding"] = df["image_embedding"].str.split(",").apply(lambda x: [float(i) for i in x])

embedding_df = pd.DataFrame(df["image_embedding"].tolist(), columns=[f"f{i}" for i in range(len(df["image_embedding"][0])) ])
embedding_df.head()
df = pd.concat([df.drop(columns=["image_embedding"]), embedding_df], axis=1)

In [29]:
df.head()

,num_week_iso,num_stores,num_sizes,price,year,weekly_demand,week_iso,R,G,B,...,f502,f503,f504,f505,f506,f507,f508,f509,f510,f511
0,1,152,5,35.99,2023,69,1,255,215,0,...,0.105586,-0.31216,0.35252,-0.241651,0.464914,0.169642,-0.314308,-0.158037,-0.022556,-0.080948
1,2,152,5,35.99,2023,112,2,255,215,0,...,0.105586,-0.31216,0.35252,-0.241651,0.464914,0.169642,-0.314308,-0.158037,-0.022556,-0.080948
2,3,152,5,35.99,2023,135,3,255,215,0,...,0.105586,-0.31216,0.35252,-0.241651,0.464914,0.169642,-0.314308,-0.158037,-0.022556,-0.080948
3,4,152,5,35.99,2023,99,4,255,215,0,...,0.105586,-0.31216,0.35252,-0.241651,0.464914,0.169642,-0.314308,-0.158037,-0.022556,-0.080948
4,5,152,5,35.99,2023,74,5,255,215,0,...,0.105586,-0.31216,0.35252,-0.241651,0.464914,0.169642,-0.314308,-0.158037,-0.022556,-0.080948

In [ ]:
# Guardem el DataFrame processat a un nou fitxer CSV
df.to_csv("./../data/train-parsed.csv",index=False)